#New Form

<form action="/rappers" method="post">

<input type="text" name="name" placeholder="enter rapper's name" >
<input type="number" name="age" placeholder="enter rapper's age">
<input type="submit" value="submit">

</form>

